
/************Overall Styles ************/

*{
	margin: 0;
}

html,
body{
	height: 100%;
}

body{
	padding:0;
	margin: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background:url("/assets/images/background.jpg");
	background-color: #EDEDED;
}

/************ Header Styles ************/

h1, 
h2,
h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	margin-bottom:20px;
}

h1{
	font-size: 24px;
}

h2{
	font-size: 20px;
}

hr{
	border-top:#ededed solid 2px;
	margin:20px 0;
}

/************ Nav Styles ************/

nav{
	background-color: #fff;
}

#navbar{
	background: none;
	background-color: #fff;
	width:960px;
	margin-left:15%;
}

.name-block{
	background-color: #4aaaa5;
	color:white;
	float:left;
	padding: 25px 40px 28px 40px;
	position: absolute;
	margin-top: 13px;
	z-index: 1;
	margin-left: 15%;
}

ul{
	clear:both;
	list-style-type: none;
	background: #fff;
	position: relative;
	width:960px;
	margin-left: 15%;
	top:0;
	padding:40px 0 50px 0;
	margin-top: 0;
}

li{
	padding: 0 30px 0 30px;
	text-decoration: none;
	float:right;
}

a.link{
	text-decoration: none;
	color:#666666;
}

a.link:hover{
	color:#4aaaa5;
}

/************ Container Styles ************/

.container{
	clear:both;
	width:960px;
	margin-left:15%;
	margin-top: 40px;
	min-height: 100%;
	margin-bottom: -100px;
}

.container:after{
	content: "";
 	display: block;
}

p{
	padding:15px;
}

.social{
	width:240px;
	float: right;
	background-color: #fff;
	padding: 20px;
	box-shadow: 10px 10px 5px grey;
}

.social img{
	width: 50px;
	padding:10px;
}

/************ Footer Styles ************/
footer,
.container:after{
	height: 100px; 
}

footer {
	padding-top: 40px;
	text-align: center;
	border-top: #4aaaa5 5px solid;
	width: 100%;
	overflow: hidden;
	background-color: #666666;
	color:#fff;
}

/************ About Page Styles ************/

#about-img{
	height:300px;
	float: left;
	padding: 20px;
}

.body{
	width: 610px;
	float: left;
	background-color: #fff;
	padding:20px;
	line-height: 1.5;
	box-shadow: 10px 10px 5px grey;
}

/************Contact Page Styles**************/

.contact{
	width: 610px;
	float: left;
	background-color: #fff;
	padding:20px;
	line-height: 1.5;
	box-shadow: 10px 10px 5px grey;
	color: #666666;
	font-size: 16px;
}

#name,
#mail{
	width:100%;
	height:30px;
	margin-bottom: 20px;
}

#msg{
	width: 100%;
	height:150px;
}

button{
	color:#fff;
	background-color: #4aaaa5;
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 15px 35px;
	font-size: 16px;
	line-height: 1.2;
	border:none;
}

 ::-webkit-input-placeholder{
 	font-size: 14px;
 	padding:5px;
 }

/************Portfolio Page Styles**************/


.portfolio{
	width: 610px;
	float: left;
	background-color: #fff;
	padding:20px;
	line-height: 1.5;
	box-shadow: 10px 10px 5px grey;
	color: #666666;
	font-size: 16px;
	margin-bottom: 50px;
}

.portfolio img{
	width:200px;
	height:200px;
	padding:30px;
	position: relative;
}

h3{
	position:absolute;
	font-weight: normal;
	display: inline;
	padding:15px 0;
	text-align: center;
	width: 200px;
	margin-top: 160px;
 	color: white; 
	background: #4aaaa5;
	z-index:1;
	margin-left:30px;
}

/************Media Queries**************/

@-ms-viewport{
	width:device-width;
}

@media (max-width:980px){

	.name-block{
		background-color: #4aaaa5;
		color:white;
		float:left;
		padding: 25px 40px 28px 40px;
		margin-top: 13px;
		z-index: 1;
		margin-left: 10%;
	}

	ul{
		clear:both;
		list-style-type: none;
		background: #fff;
		position: relative;
		width:100%;
		top:0;
		padding:40px 0 50px 0;
		margin-top: 0;
		margin-left:-80px;
	}

	li{
		padding: 0 0 0 50px;
		text-decoration: none;
	}

	.container{
		width:100%;
		margin:15px;
	}

	.body{
		width: 40%;
		float:none;
		margin:60px 0 60px;
		margin-left:8%;
		float:left;
	}

	.social{
		width: 25%;
		float:none;
		margin-right:10%;
		margin-top: 6%;
		float:right;
	}

	#about-img{
		float:none;
	}

	.contact{
		width: 40%;
		float:none;
		margin:60px 0 60px;
		margin-left:8%;
		float:left;
	}

	.portfolio{
		width: 40%;
		float:none;
		margin:60px 0 60px;
		margin-left:8%;
		float:left;
	}

	.portfolio img{
		position:relative;
	}

	h3{
		display: block;
	}

	footer{
		float: none;
		margin: 0;
	}
	
}


@media (max-width:768px){

	.name-block{
		background-color: #4aaaa5;
		color:white;
		float:left;
		padding: 25px 40px 28px 40px;
		margin-top: 13px;
		z-index: 1;
		margin-left: 3%;
	}

	ul{
		clear:both;
		list-style-type: none;
		background: #fff;
		width:100%;
		top:0;
		padding:40px 0 50px 0;
		margin-top: 0;
		margin-left:-40px;
	}

	li{
		padding: 0 0 0 50px;
		text-decoration: none;
		}

	.container{
		width:85%;
		margin:5%;
	}

	.body{
		width: 100%;
		float:none;
		margin:60px 0;
	}
	
	#about-img{
		float:left;
	}

	.social{
		width: 100%;
		float:none;
		margin:0;
	}

	.contact{
		width:100%;
		float: none;
		margin: 60px 0;
	}

	footer{
		float: none;
		margin: 0;
	}

	.portfolio{
		width:100%;
		float:none;
	}
	
}


@media (max-width:640px){

	.name-block{
		width: 640px;
		float: none;
		margin:0;
		text-align: center;
	}

	ul{
		width:100%;
		padding:13%;
		margin-left:50px;
	}

	li{
		float:left;
		padding:40px 50px;
		position: static;
	}

	.container{
		width:640px;
		margin:15px;
	}

	.body{
		width: 100%;
		float:none;
		margin:60px 0;
	}

	.contact{
		width:100%;
		float: none;
	}

	.portfolio{
		width:100%;
		float:none;
	}

	.social{
		width: 100%;
		float:none;
		margin:0;
	}

	footer{
		float: none;
		margin: 0;
		width: 720px;
	}
	

	
}
